@{
    ViewData["Title"] = "Index";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Department List</h6>
        <a asp-action="Create" asp-controller="Department" class="btn btn-outline-primary ml-auto">Create</a>
    </div>
    <div class="card-body">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>

                </tr>
                <tr>
                    <th scope="row">2</th>

                </tr>
                <tr>
                    <th scope="row">3</th>

                </tr>
            </tbody>
        </table>
        
       
    </div>
</div>